* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
}
header{
    font-family: 'EB Garamond', serif;
    position: relative;
    height: auto;
    font-size: 55px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.retouch{
    font-style: italic;
}

section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.container{
    height: auto;
    margin: auto;
}

.container:hover{
    box-shadow: 1px 1px 10px rgb(88, 88, 88);
}
.line{
    height: 1px;
    background-color:rgb(255, 255, 255);
}
footer{
    height: auto;
    font-size: 10px;
    text-align: center;
    margin-top: 30px;
}